body {
    background-color : #0B5B96;
}

.logosmall {
    width: 57%;
    height: 57%;
}

.reveal h1 {
    font-size: 36px;
}

.reveal h2 {
    font-size: 20px;
}

.reveal section img {
    border: 0;
    box-shadow: none;
}