body {
    background-color : #0B5B96;
}

.small-logo { 
    width: 57%;
}

.half-image img {
    width: 50%;
}

.level1text {
    font-size: 28px;
}

.level2text { 
    font-size: 20px;
}

.level3text { 
    font-size: 16px;
}

.level4text { 
    font-size: 14px;
}

.level5text { 
    font-size: 14px;
}

.reveal h1 {
    font-size: 36px;
}

.reveal h2 {
    font-size: 20px;
}

.reveal section img {
    border: 0;
    box-shadow: none;
}